@font-face {
  font-family: 'Strait';
  font-style: normal;
  font-weight: 400;
  src: local('Strait'), local('Strait'),
       url('../fonts/Strait/Strait-Regular.ttf') format('truetype')
}
body {
  font-family: 'Strait';
}
